body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.header {
    background-color: #0b4988;
    color: white;
    padding: 10px 0;
}
a.button{
    margin-bottom: 10px;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.nav a:hover {
    text-decoration: underline;
}

.main-content {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fafafa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.titulo-post {
    margin: 0 0 10px 0;
    font-size: 1.5em;
    color: #343a40;
}

.post-content {
    font-size: 1em;
    color: #555;
}

.post-meta {
    font-size: 0.9em;
    color: #888;
    margin-top: 10px;
}

.author-link {
    color: #007bff;
    text-decoration: none;
}

.author-link:hover {
    text-decoration: underline;
}

.button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
}

.button:hover {
    background-color: #0056b3;
}

.profile-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-header {
    height: 30px;
    display: flex;
    align-items: center;
}
.user-name {
    font-size: 1.2em;
}

.user-icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
}
.nav-header .button-publicar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form, .register-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form label, .register-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-form input, .register-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .main-content {
        margin: 10px;
        padding: 0 10px;
    }

    .content {
        padding: 10px;
    }

    .post {
        padding: 10px;
    }

    .profile-header {
        flex-direction: column;
        align-items: flex-start;
    }
}