{% extends 'base.html' %}
{% block header %}
    <h2>{% block title %}Crear publicación {% endblock %}</h2>
{% endblock %}

{% block content %}
    <form method="POST">
        <label for="title">Título:</label>
        <input type="text" name="title" id="title" placeholder="Escriba el título" required>
        <label for="body">Contenido:</label>
        <textarea name="body" id="body" cols="30" rows="10"></textarea>
        <input type="submit" value="Publicar">
    </form>
    <!-- Agregar CKEditor -->
    <script src="https://cdn.ckeditor.com/ckeditor5/41.4.2/classic/ckeditor.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/41.4.2/classic/translations/es.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#body'), {
                language: 'es',
                toolbar: {
                    items: [
                        'heading',
                        '|',
                        'bold',
                        'italic',
                        'underline',
                        'strikethrough',
                        '|',
                        'numberedList',
                        'bulletedList',
                        '|',
                        '|',
                        'link',
                        'insertTable',
                        'blockQuote',
                        '|',
                        'undo',
                        'redo'
                    ]
                }
            })
            .catch(error => {
                console.error(error);
            });
    </script>
{% endblock %}